.CategoryTitle a {
    color: var(--secondary);
    background-color: white;
    padding: 9px 18px;
    transition: var(--transition);
}

.CategoryTitle a:hover,
.CategoryTitle a.activated {
    color: white;
    background-color: var(--orange);
}