.Food .addon-limit {
    max-width: calc(var(--app-width) - 250px);
}
.Food .meal-limit {
    max-width: calc(var(--app-width) - 180px);
}

@media (max-width: 412px) {
    .Food .addon-limit {
        max-width: calc(100vw - 250px);
    }

    .Food .meal-limit {
        max-width: calc(100vw - 180px);
    }
  }
