.Layout main {
    margin-left: 0;
    box-shadow: -3 3 17 rgba(0, 0, 0, 0.16);
}

.Layout .main {
    overflow-x: hidden;
}

@media (min-width: 768px) {
    .Layout main {
        margin-left: var(--restaurant-sidebar-width);
    }
}
