.Home .categories {
    padding-bottom: calc(100vh - 280px);
}

.Home .carousel-inner {
    height: 100% !important;
}

.Home .navigation {
    overflow-x: auto;
}

.Home #banner {
    position: relative;
    z-index: 10;
}

.Home .category-select {
    max-width: calc(var(--app-width) - 178px);
}

@media (max-width: 412px) {
    .Home .category-select {
        max-width: calc(100vw - 178px);
    }
}

.Home .carousel-indicators li {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: var(--white-50);
    transition: all 0.25s;
}

.Home .carousel-indicators li.active {
    background-color: var(--white-80);
}
