.Page.Cart .UI.Item {
    border: none;
    display: flex;
    padding: 13px;
    border-radius: 20px;
    margin-bottom: 16px;
    align-items: stretch;
    background-color: var(--soft);

    .photo {
        margin-right: 12px;

        div {
            width: 69px;
            height: 58px;
            border-radius: 15px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .name-qty {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .name {
            font-size: 14px;
            font-weight: 500;
            line-height: 18.12px;
        }

        .qty {
            font-size: 14px;
            font-weight: 700;
            color: var(--color-primary);
        }
    }

    .price-qty {
        display: flex;
        text-align: right;
        flex-direction: column;
        justify-content: space-between;

        .price {
            font-size: 18px;
            font-weight: 700;
            line-height: 23.29px;

            span {
                opacity: .4;
                font-size: 10px;
                font-weight: 500;
                line-height: 12.94px;
            }
        }

        .qty {
            display: flex;
            align-items: center;

            .minus,
            .plus {
                width: 18px;
                height: 18px;
                display: flex;
                font-size: 6px;
                cursor: pointer;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                color: var(--color-primary);
                background-color: var(--orange-20);
            }

            .minus {
                margin-right: 15px;
            }

            .plus {
                margin-left: 15px;
            }
        }
    }

    &.meal {
        position: relative;
        background-clip: padding-box;
        border: 2px solid transparent;

        &::after {
            top: -2px;
            left: -2px;
            content: '';
            right: -2px;
            z-index: -1;
            bottom: -2px;
            position: absolute;
            border-radius: 20px;
            background: linear-gradient(93.85deg, var(--color-primary) 11.97%, var(--color-primary) 11.97%, rgba(236, 184, 0, 0.55) 96.65%);
        }
    }
}